

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Lunch</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Dinner</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Dessert</a>
  </div>
</nav>

<div class="col-md-12 offset-md-2 tab-content" id="nav-tabContent">
  <div class="row tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <% @items.each do |i| %>
      <div class="card card-styling" style="width: 48rem;">
        <%= image_tag i.image unless i.image.nil?  %>
        <div class="card-body">
          <h5 class="card-title"><%= i.name %></h5>
          <p class="card-text"><%= i.description %></p>
          <p class="card-text"><%= number_to_currency(i.price) %></p>
          <a href="#" class="btn btn-success btn-sm">Add to the cart</a>
        </div>
      </div>
  <% end %>
  
  </div>

  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    <% @items.each do |i| %>
      <div class="card card-styling" style="width: 48rem;">
        <%= image_tag i.image unless i.image.nil?  %>
        <div class="card-body">
          <h5 class="card-title"><%= i.name %></h5>
          <p class="card-text"><%= i.description %></p>
          <p class="card-text"><%= number_to_currency(i.price) %></p>
          <a href="#" class="btn btn-success btn-sm">Add to the cart</a>
        </div>
      </div>     
    <% end %>

  </div>

  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
    <% @items.each do |i| %>
      <div class="card card-styling" style="width: 48rem;">
        <%= image_tag i.image unless i.image.nil?  %>
        <div class="card-body">
          <h5 class="card-title"><%= i.name %></h5>
          <p class="card-text"><%= i.description %></p>
          <p class="card-text"><%= number_to_currency(i.price) %></p>
          <a href="#" class="btn btn-success btn-sm">Add to the cart</a>
        </div>
      </div>
    <% end %>
  
  </div>

</div>


